USE [master]
GO
/****** Object:  Database [DokterspraktijkDB]    Script Date: 22/06/2022 23:28:42 ******/
CREATE DATABASE [DokterspraktijkDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DokterspraktijkDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DokterspraktijkDB]
GO
USE [DokterspraktijkDB]
GO
/****** Object:  Table [dbo].[Afspraak]    Script Date: 22/06/2022 23:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Afspraak](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[moment] [datetime] NOT NULL,
	[klacht] [text] NOT NULL,
	[patient_id] [int] NOT NULL,
	[dokter_id] [int] NOT NULL,
 CONSTRAINT [PK_Afspraak] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dokter]    Script Date: 22/06/2022 23:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dokter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[voornaam] [nvarchar](50) NOT NULL,
	[achternaam] [nvarchar](50) NOT NULL,
	[gsm] [nchar](10) NULL,
	[email] [nvarchar](100) NOT NULL,
	[paswoord] [nvarchar](100) NOT NULL,
	[profielfotodata] [image] NULL,
	[rizivnummer] [int] NOT NULL,
	[isgeconventioneerd] [tinyint] NOT NULL,
 CONSTRAINT [PK_Dokter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 22/06/2022 23:28:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[voornaam] [nvarchar](50) NOT NULL,
	[achternaam] [nvarchar](50) NOT NULL,
	[geslacht] [int] NOT NULL,
	[gsm] [nchar](10) NULL,
	[email] [nvarchar](100) NOT NULL,
	[paswoord] [nvarchar](100) NOT NULL,
	[geboortedatum] [datetime] NOT NULL,
	[profielfotodata] [image] NULL,
	[notificaties] [int] NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Afspraak] ON 

INSERT [dbo].[Afspraak] ([id], [moment], [klacht], [patient_id], [dokter_id]) VALUES (3, CAST(N'2022-06-30T00:00:00.000' AS DateTime), N'als ik op mijn linkerarm druk, doet het pijn in mijn rechterarm', 4, 5)
SET IDENTITY_INSERT [dbo].[Afspraak] OFF
GO
SET IDENTITY_INSERT [dbo].[Dokter] ON 

SET IDENTITY_INSERT [dbo].[Dokter] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([id], [voornaam], [achternaam], [geslacht], [gsm], [email], [paswoord], [geboortedatum], [profielfotodata], [notificaties]) VALUES (2, N'Rogier', N'van der Linde', 1, N'0488665512', N'rogier.vanderlinde@odisee.be', N'c39f0230609faf31f320bec9a57442a91efd3d8667d16c75bb0549de61c0396b', CAST(N'1970-01-08T00:00:00.000' AS DateTime), NULL, 2)
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
ALTER TABLE [dbo].[Afspraak]  WITH CHECK ADD  CONSTRAINT [FK_Afspraak_Dokter] FOREIGN KEY([dokter_id])
REFERENCES [dbo].[Dokter] ([id])
GO
ALTER TABLE [dbo].[Afspraak] CHECK CONSTRAINT [FK_Afspraak_Dokter]
GO
ALTER TABLE [dbo].[Afspraak]  WITH CHECK ADD  CONSTRAINT [FK_Afspraak_Patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patient] ([id])
GO
ALTER TABLE [dbo].[Afspraak] CHECK CONSTRAINT [FK_Afspraak_Patient]
GO
ALTER TABLE [dbo].[Dokter]  WITH CHECK ADD  CONSTRAINT [CK_Rizivnummer] CHECK  (([rizivnummer]>=(1000000) AND [rizivnummer]<=(99999999)))
GO
ALTER TABLE [dbo].[Dokter] CHECK CONSTRAINT [CK_Rizivnummer]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CK_Geslacht] CHECK  (([geslacht]=(0) OR [geslacht]=(1) OR [geslacht]=(2) OR [geslacht]=(9)))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CK_Geslacht]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CK_Notificaties] CHECK  (([notificaties]>=(0) AND [notificaties]<=(3)))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CK_Notificaties]
GO
USE [master]
GO
